<app-inner-header name="Fifo" [loadCounter]="loadCounter"></app-inner-header>
<app-module-not-exists-banner [list]="list"></app-module-not-exists-banner>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedIndex" *ngIf="list && list.exists !== false">
  <mat-tab label="لیست">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>تنظیمات</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              تنظیمات
            </mat-panel-title>
            <mat-panel-description>
              برای مشاهده جزئیات کلیک کنید
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h3>پارامترها:</h3>
          <app-key-value-pad-2 [exist]="list.settings"
                               [items]="list.settings"
                               [newItems]="list.settings?.new"
                               [id]="null"
                               [toCopy]="null"
                               [dispatchersCallbacks]="globalSettingsDispatchers"
          >
          </app-key-value-pad-2>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>فایفوها</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let item of onlyValues(list.fifos); trackBy: trackByFn" class="panel-wrapper">
          <mat-expansion-panel (opened)="getFifoFifosParams(item.id)"
                               [expanded]="panelCloser['fifo' + item.id]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.name}}
              </mat-panel-title>
              <mat-panel-description>
                برای مشاهده جزئیات کلیک کنید
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>اهمیت:</h3>
            <div *ngIf="item.id" class="spacer">
              <form #details="ngForm">
                <mat-form-field hideRequiredMarker>
                  <mat-label>اهمیت</mat-label>
                  <input matInput name="importance" [ngModel]="item.importance" required
                         [name]="'importance' + item.id">
                </mat-form-field>
                <button mat-button color="accent"
                        [disabled]="!isvalueReadyToSend(details.controls['importance' + item.id])"
                        (click)="updateImportance(item.id, details.controls['importance' + item.id])">
                  به‌روزرسانی
                </button>
              </form>
            </div>
            <button mat-raised-button color="basic" (click)="copyFifo(item.id)"
                    *ngIf="list.fifos[item.id] && (list.fifos[item.id].members)">کپی
            </button>
            <h3>اعضا:</h3>
            <div>
              <app-key-value-pad-2 [exist]="item.members"
                                   [items]="item.members"
                                   [newItems]="item.members?.new"
                                   [id]="item.id"
                                   [toCopy]="toCopyFifo"
                                   [dispatchersCallbacks]="fifoSettingsDispatchers"
                                   [fieldsMask]="memberMask"
              >
              </app-key-value-pad-2>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="افزودن">
    <form class="spacer spacerb" (ngSubmit)="onFifoSubmit()">
      <mat-form-field hideRequiredMarker>
        <mat-label>نام</mat-label>
        <input matInput placeholder="نام جدید فایفو" required name="name" [(ngModel)]="newFifoName">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">ارسال</button>
    </form>
  </mat-tab>

  <mat-tab label="حذف/تغییر نام">
    <form class="spacer spacerb" #deleteForm="ngForm">
      <h3>فایفو:</h3>
      <div *ngFor="let fifo of onlyValues(list.fifos); trackBy: trackByFn">
        <mat-form-field hideRequiredMarker>
          <mat-label>نام فایفو</mat-label>
          <input matInput name="Fifo name" required [ngModel]="fifo.name"
                 [name]="'fifo::' + fifo.id">
        </mat-form-field>
        <button mat-button color="accent" [disabled]="checkDirty(deleteForm.controls['fifo::' + fifo.id])"
                (click)="openBottomSheetFifo(fifo.id, deleteForm.controls['fifo::' + fifo.id].value, fifo.name, 'rename')">
          به‌روزرسانی
        </button>
        <button mat-raised-button color="warn"
                (click)="openBottomSheetFifo(fifo.id, deleteForm.controls['fifo::' + fifo.id].value, fifo.name, 'delete')">
          حذف
        </button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
