
<ul>
  <li *ngFor="let item of routes">
<a [href]="'http://localhost:3000/cweb/'+item.path" target="_blank">{{item.path}}</a>
  </li>
</ul>
<div class="center">
  <div class="second">
    <img class="logo-big" src="./assets/img/logo-big.png" alt="لوگو">

    <form class="login-form" (ngSubmit)="onSubmit()" ngNativeValidate>
      <mat-form-field class="login-full-width" hideRequiredMarker>
        <input
          matInput
          [(ngModel)]="user.login"
          name="login"
          placeholder="نام کاربری"
          value=""
          required
        >
      </mat-form-field>

      <mat-form-field class="login-full-width" hideRequiredMarker>
        <input
          matInput
          [(ngModel)]="user.password"
          name="password"
          type="password"
          placeholder="رمز عبور"
          required
          autocomplete="off"
        >
      </mat-form-field>

      <button mat-flat-button type="submit" color="basic">ورود</button>
    </form>
    <div *ngIf="userService.errorMessage">
      <div>
        {{userService.errorMessage}}
      </div>
    </div>
  </div>
</div>
